<!-- <router-outlet /> -->
<!-- 
<main>
  <h1>Hello, {{ title }}</h1>
  <hr />
  <tl-listbox
    #listbox
    [orientation]="orientation()"
    (orientationChange)="logOrientationChange($event)"
    (valueChange)="logValueChange($event)"
  >
    <tl-option value="Onion">Onion</tl-option>
    <tl-option value="Tomato">Tomato</tl-option>
    <tl-option value="Garlic">Garlic</tl-option>
    <tl-option value="Pepper">Pepper</tl-option>
  </tl-listbox>
  <hr />
  <p>Listbox value: {{ listbox.value() }}</p>
  <button type="button" (click)="toggleOrientation()">
    Change orientation
  </button>
</main> -->

<router-outlet></router-outlet>
