<div>
  <div class="nav">
    <div>OutSourse</div>
    <div (click)="menuClick.emit()" class="logo"></div>
  </div>
  <div class="main-wrap">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam aliquid
      neque provident corrupti dolor iusto aut ipsam animi itaque? Natus, ipsa
      incidunt optio nulla voluptatem consequuntur totam, dolore ea aperiam
      eligendi provident soluta et dolorem! Odio iure sit rerum hic fugiat
      recusandae dolorum, eaque dolor amet eius, asperiores officiis quibusdam
      ea magni, accusamus debitis. Voluptatum commodi sit accusantium magnam
      possimus odit odio doloribus. Dolore facilis alias cumque velit atque, at
      eligendi itaque reprehenderit unde harum quisquam totam aliquid maiores
      similique eaque consequuntur expedita iste animi molestias quidem sequi
      eum quo quibusdam? Beatae excepturi, saepe esse dignissimos officia ipsa
      suscipit eligendi? Recusandae est ullam obcaecati, inventore nesciunt
      excepturi ab culpa vitae alias accusantium commodi quaerat porro optio
      accusamus exercitationem blanditiis officia a praesentium. Laudantium,
      voluptates magnam. Distinctio libero, delectus fugit officia quaerat
      deserunt, voluptates at aut quo excepturi facilis. Enim, fugiat eius! Sint
      cupiditate, porro sequi ullam id voluptatibus officia laboriosam repellat
      fugiat velit architecto rem, totam dignissimos aliquam molestias. Illo
      nihil cumque quisquam excepturi rerum labore magni a, sequi asperiores
      harum ducimus sapiente repellendus mollitia provident deleniti? Voluptatem
      ipsa velit temporibus! Nemo in odit ex voluptatum animi saepe hic voluptas
      ab esse commodi beatae blanditiis expedita ducimus porro, deleniti
      possimus. Consequatur, laudantium quam. Quam fugit similique, ad sunt
      expedita nisi blanditiis adipisci ipsum consequuntur necessitatibus
      molestiae laboriosam labore aliquid ea quaerat aperiam qui et deleniti
      reprehenderit. Dignissimos doloremque voluptatem nostrum ipsum, possimus
      libero odio distinctio qui perspiciatis at veritatis obcaecati placeat
      dolorem! Quidem vel odio, ullam dignissimos voluptas praesentium saepe est
      doloribus deleniti eius dolorum explicabo ex perferendis natus, eos
      pariatur temporibus autem minus. Doloribus neque cumque voluptatibus
      reprehenderit error corrupti commodi sunt, voluptas labore dignissimos
      voluptatem non harum perferendis ipsum. Atque placeat voluptatum tempore
      dolor consectetur nam fuga ea? Unde consectetur ea veniam cumque
      repellendus? Laudantium nemo cum animi quidem molestias vel blanditiis eos
      mollitia error aliquid id rerum, culpa ea fugiat quod alias voluptatem
      perferendis. Quos est consequuntur cupiditate eius repudiandae voluptatem
      ea numquam provident vero sapiente, temporibus natus minima nihil
      blanditiis laborum non aliquam ratione. Accusantium quo sed quis
      voluptates nemo ullam repellat labore voluptas, debitis suscipit velit
      laudantium nobis, placeat exercitationem quibusdam mollitia qui nesciunt
      aperiam aspernatur aliquid fugiat ad tempore? Dolor nulla dolore ducimus
      doloremque eius qui ullam. Voluptas temporibus atque officiis sed
      blanditiis qui esse ab ea rerum accusantium aut consequuntur ipsam ullam
      laborum veritatis quasi perferendis error distinctio, amet tempora vitae
      facilis similique. Soluta corrupti itaque culpa, eaque quam animi cum
      officia. Architecto cum neque ipsum sint dolores doloremque quo, velit
      repellat eaque error voluptatum debitis nam unde nisi fugit natus
      excepturi dolore quas autem alias necessitatibus ad accusamus dolor?
      Nesciunt nostrum similique enim, non hic velit maiores aut distinctio,
      perspiciatis necessitatibus impedit, quod voluptatum doloremque suscipit!
      Exercitationem possimus saepe maxime est ab nam dicta provident
      repudiandae aliquid quo delectus iure autem corporis sapiente temporibus
      obcaecati ipsam inventore quisquam molestias, quasi quia tenetur nesciunt
      culpa? Ipsam modi nesciunt adipisci voluptas quaerat labore ullam ea unde
      quidem reiciendis alias dolorem blanditiis atque iure praesentium
      veritatis deleniti, odit cupiditate ipsa aliquam tempora officiis
      corrupti. Neque, cum. Autem cum non, aliquam sint officiis et eos ab ipsum
      quisquam. Quia quidem eius, quo maiores id culpa iusto exercitationem
      repellat eveniet dignissimos reprehenderit molestiae labore temporibus
      aperiam hic pariatur illo. Ex, nostrum veritatis! Eaque quo voluptatibus
      voluptates nostrum, temporibus, nobis quibusdam eos ipsam, perferendis
      assumenda porro praesentium nesciunt recusandae neque minima. Omnis autem
      similique inventore officia! Est quae odit aliquid minima totam eveniet
      libero quo in possimus accusantium unde nam debitis reprehenderit, non
      cumque doloremque, quibusdam obcaecati vero sed? Praesentium
      exercitationem, temporibus voluptate eius eaque, adipisci numquam aperiam
      minima ipsam atque aspernatur sequi tenetur asperiores, incidunt repellat
      tempore libero. Fuga quisquam recusandae reiciendis non in, sunt quaerat.
      Explicabo voluptatem vitae possimus vel tempore eum, ut cumque velit id
      sunt aut! Vitae voluptatum, eligendi delectus exercitationem ea, veritatis
      voluptatem adipisci doloremque distinctio enim veniam rerum sit excepturi?
      Velit pariatur veniam totam quam. Commodi consectetur non perferendis
      atque eius illo suscipit ad quas deserunt ea doloremque est modi dolorum,
      qui esse voluptatibus fugiat quam pariatur. Sint aliquid dignissimos
      nostrum fugiat, doloribus velit officia. Eius vitae voluptate ad dolorum.
      Deleniti asperiores praesentium rem explicabo nisi ratione porro ipsa
      earum maxime, illo voluptas quia iusto illum dolorem ut cum, dicta
      officiis ab quo. Assumenda molestiae accusantium repudiandae enim magni
      distinctio dolor id, similique odit! Eveniet animi reprehenderit debitis
      veritatis numquam at explicabo aspernatur aperiam, mollitia unde
      praesentium velit atque culpa sapiente dicta ipsa voluptate obcaecati
      tempore minima quidem pariatur? Voluptatibus odio autem labore doloribus
      quisquam dolore facere numquam, quidem natus repudiandae earum id commodi
      provident, totam soluta reprehenderit illum eos dolores sequi dignissimos
      quia. Magni ab eius praesentium debitis natus. Vero quae, perspiciatis
      eaque quas corrupti est? Repudiandae corrupti, vero incidunt voluptatum
      velit sit? Quisquam voluptatem nihil nobis nemo sequi atque a rerum ex
      delectus saepe debitis recusandae optio nostrum aliquam et quis, ad
      commodi sed iure! Alias voluptatem porro laboriosam asperiores perferendis
      a quod consequuntur ad magnam libero vel distinctio quia, enim in dolorem
      et exercitationem natus dolorum id animi voluptas voluptatibus sit.
      Nesciunt odit hic saepe fugiat dignissimos dolore animi, assumenda illum
      recusandae a consequatur, maxime nobis quam obcaecati vitae qui, rerum
      eveniet quibusdam iste esse quas corrupti cupiditate. Possimus placeat,
      dolor neque rerum fugit aspernatur maxime autem, corrupti nobis optio
      reprehenderit voluptas temporibus. Corporis totam vel incidunt similique
      optio laborum architecto debitis dolores! Deleniti corrupti cum recusandae
      laboriosam ad culpa sed provident placeat praesentium molestiae mollitia,
      ex laudantium tempora aperiam accusamus? Fugiat officiis praesentium eum
      laudantium iure! Alias, et iusto ducimus excepturi temporibus fugiat,
      doloribus dolore enim fugit ad tenetur deserunt? Vero porro tempora
      incidunt ullam? Illo sapiente laboriosam dolores atque quia quibusdam,
      minima iste delectus dignissimos repellendus. Tempore facilis natus illo.
      Eum provident dolor, suscipit quam tenetur blanditiis voluptate pariatur
      consequatur maxime laudantium impedit dicta quaerat. Quis hic accusantium
      veniam quam. Harum alias, voluptatem natus repellendus fugiat
      exercitationem assumenda, qui quibusdam, nostrum atque labore consequuntur
      quo repudiandae sint odit illum autem quaerat esse molestias eum! Cum,
      placeat nesciunt.
    </p>
  </div>
</div>
